.sandbox2 img{
  width: 20%;
  height: auto;
  float:left;
  padding: 2px;
  margin: 20px;
  border:2px;
  border-radius: 50%;
  border-style: solid;
  border-color:black;
}

.sandbox2 {
  margin: 10px;
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-color: grey;
  border-radius: 10px;
}

#map {
  /* align: center; */
  width: 600px;
  height: 600px;
  /* /height: auto; */
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
  div div div div div li:nth-child(6){
    color: back;
    border: 10px double black;
    border-radius: 5px;
    padding:4px;
  }
